.d-block {
	display: block;
}
.d-block-f {
    display: block !important;
}

.d-linline-block {
    display: inline-block;
}
.d-linline-block-f {
    display: inline-block !important;
}

.d-flex {
    display: flex;
}
.d-flex-f {
    display: flex !important;
}

.d-flex-line {
    display: inline-flex;
}
.d-flex-f {
    display: inline-flex !important;
}

.cart-items-badge {
    position: absolute;
    right: -10px;
    top: -8px;
    background: #e91e63;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: white;
    padding: 5px 10px;
}

.icon-small {
    width: 28px;
    height: 28px;
}

.icon-medium {
    width: 38px;
    height: 38px;
}

.icon-xsmall {
    width: 20px !important;
    height: 20px !important;
}

.table-centered {
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}

td.dotted-border-sm, th.dotted-border-sm {
    border: 1px dotted #dedede23;
    margin: 5px;
    padding: 5px;
}

td.dotted-border, th.dotted-border {
    border: 1px dotted #dedede23;
    margin: 2em;
    padding: 2em;
}

span.no-avatar {
    vertical-align: sub;
}

td.dotted-border-dark {
    border: 1px dotted #62626236;
    margin: 2em;
    padding: 2em;
}

td.dotted-border-small {
    border: 1px dotted #dedede23;
    margin: 5px;
    padding: 5px;
}

td.no-border {
    border: none !important;
}

.mt-2 {
    margin-top: 2em;
}

.opacity-half {
    opacity: 0.5;
}

.mt-25per {
    margin-top: 25%;
}

.mt-17per {
    margin-top: 17%;
}

.notification-container {
    position: fixed;
    z-index: 99999;
    /*top: 20px;
    right: 20px;*/
    bottom: 20px;
    left: 20px;
}

.notification {
  width: fit-content;
  text-align: left;
  border-radius: 2px;
  padding: 16px;
  margin-bottom: 1em;
}

.notification.success {
  background-color: #2196f3;
  color: #fff;
}
.notification.error {
  background-color: #f44336;
  color: #fff;
}
.notification.info {
  background-color: #5f58cb;
  color: #fff;
}

td.bottom-devider {
    border-color: transparent !important;
    border-bottom: 1px solid #eaeaeb0f !important;
}

span.bottom-devider {
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: transparent !important;
    border-bottom: 1px solid #eaeaeb0f !important;   
}

.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
    color: #fff;
}
.bg-disabled {
    background-color: #9e9e9e !important;
    opacity: 0.4;
}
.bg-purple {
    background-color: #3f51b5;
}
.bg-purple-f {
    background-color: #3f51b5 !important;
}
.text-black {
    color: #000000;
}
.bg-theme {
    background-color: #4b464f;   
}
.bg-theme-light {
    background-color: #7f6257;
}
.bg-kot-updated-block {
    background-color: #35835c;
}
.bg-highlighted {
    background-color: #ff4343;
    color: #fff;
    padding: 2px;
    border-radius: 2px;
    margin-right: 0px;
}
.bg-highlighted-f {
    background-color: #ff4343 !important;
    color: #fff !important;
    padding: 2px !important;
    border-radius: 2px !important;
    margin-right: 0px !important;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-bold {
    font-weight: bold;
}
textarea.no-resize {
    resize: none;
}
.w-100 {
    width: 100%;
}
.w-100-f {
    width: 100% !important;
}
.w-auto {
    width: auto;
}
.w-auto-f {
    width: auto !important;
}
.h-auto {
    height: auto;
}
.h-auto-f {
    height: auto !important;
}
.hide {
    display: none;
}
.invisible {
    visibility: hidden;
}

button.btn-sm {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-color: #fff;
    border-radius: 3px;
    border: 1px solid #f5e9e95e;
}

button.btn-info {
    background-color: #2196f3;
}
button.btn-success {
    background-color: #12a518;
}
button.btn-danger {
    background-color: #e91e63;
}
button.btn-warning {
    background-color: #ff9222;
}

.highlighted-dot {
    border-radius: 25%;
    width: 15px;
    height: 15px;
}
.highlighted-dot.demanded-item {
    background-color: #ff5722;
}
.highlighted-dot.running-item {
    background-color: #009688;
}

.blink {
    animation: blinker .5s cubic-bezier(.5, 0, .5, .5) infinite alternate;
}
@keyframes blinker {  
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}