.form input[type="text"], .form textarea {
	height: 20px;
	font-size: 20px;
	padding: 10px;
	border: 1px solid #232d34;
	width: 90%;
}

.form input[type="text"].field-sm, .form textarea.field-sm {
	padding: 4px !important;
}

.form textarea {
	font-size: 14px;
	height: auto;
	font-weight: bold;
	width: 90%;
}

.form select {
	font-size: 16px;
	padding: 10px;
	border: 1px solid #232d34;
	width: inherit;
	font-family: 'Quicksand', sans-serif;
	width: 96%;
	font-weight: normal;	
}

.form input[type="text"]:focus, .form textarea:focus, .form select:focus {
	outline: none;
	outline-color: transparent;
}

.form input.sm-box {
	height: 10px;
    font-size: 12px;
  	padding: 8px;
}

.form button {
	background-color: transparent;
    padding: 0px;
    border: none;
    cursor: pointer;
    vertical-align: sub;
}

.form button img {
	height: 25px;
	width: 25px;
}

.btn-solid {
	background-color: transparent;
	border: none;
	padding: 0px;
	margin: 0px;
	cursor: pointer;
}

.float-right {
	float: right;
	margin-right: 10px;
}
.float-left {
	float: left;
	margin-left: 10px;
}

.text-white {
	color: #ffffff;
}

.text-orange {
	color: #afa18d;
}

.text-sm {
	font-size: small;
}
.text-x-sm {
	font-size: smaller;
}
.text-grey {
	color: #dedede;
}
.text-grey-dark {
	color: #a9a9a9;
}
.text-yellow {
	color: #ffeb3b;
}

.btn-manage-qty {
	/*margin: 0.5em;*/
}

.btn-qty-quick-add {
	background-color: #4c63d6;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #4c8296;
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;	
}
.w-fit-content-f {
	width: fit-content;
}

.btn-bg-navy {
	border: 1px solid #2196f3 !important;
    padding: 6px !important;
}

.mt-1 {
	margin-top: 1em;
}
.mt-0 {
	margin-top: 0;
}
.mt-1-f {
	margin-top: 1em !important;
}
.mt-p5-f {
	margin-top: 0.5em !important;
}
.mb-p5-f {
	margin-bottom: 0.5em !important;
}
.mb-1 {
	margin-bottom: 1em;
}
.mb-2 {
	margin-bottom: 2em;
}
.mr-1 {
	margin-right: 1em;
}
.ml-1 {
	margin-left: 1em;
}
.ml-px5 {
	margin-left: 5px;
}
.ml-2 {
	margin-left: 2em;
}
.ml-2-f {
	margin-left: 2em !important;
}
.p-p5 {
	padding: 0.5em;
}
.p-2 {
	padding: 2px;
}
.p-2-f {
	padding: 2px !important;
}
.p-5 {
	padding: 5px;
}
.p-5-f {
	padding: 5px !important;
}
.p-0-f {
	padding: 0px !important;
}
.pt-1-f {
	padding-top: 1em !important;
}
.m-0-f {
	margin: 0px !important;
}
.mb-1-f {
	margin-bottom: 1em !important;
}
.ml-1-f {
	margin-left: 1em !important;
}
.ml-3-f {
	margin-left: 3em !important;
}
.ptb-p5 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.mtb-0 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.mr-10 {
	margin-right: 10em;
}


.cursor-pointer {
	cursor: pointer;
}

.font-12 {
	font-size: 12px;
}
.font-14 {
	font-size: 14px;
}
.font-16 {
	font-size: 16px;	
}
.font-20-f {
	font-size: 20px !important;	
}

.valign-top {
	vertical-align: top;
}
.valign-middle {
	vertical-align: middle;
}
.valign-bottom {
	vertical-align: bottom;
}
.valign-sub {
	vertical-align: sub;
}
.valign-baseline {
	vertical-align: baseline;
}
.valign-baseline-mobile {
	vertical-align: inherit;
}

input[name='field-search'] {
	height: 25px;
	border: 1px solid #fff;
	padding: 10px;
	font-size: large;
	display: block;
	outline: none;
	outline-color: transparent;
	font-family: 'Quicksand';
	font-weight: bold;
	min-width: 300px;
	width: 90%;
	border-radius: 4px;
}

input[name='field-search']:focus {
	outline: none;
	outline-color: transparent;
}

.table-fcECard-form-fields input[type="text"] {
	/*height: 15px;
	font-size: 15px;
	padding: 5px;
	border: 1px solid #232d34;
	border-radius: 4px;*/
}

.table-fcECard-form-fields input[type="text"]:focus {
	/*outline: none;
	outline-color: transparent;*/
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 600px) {
	input[name='field-search'] {
		width: 94%;
	}
}