.form-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-login * {
	margin: 0 auto;	
	text-align: center;
}

.form-login input[type='text'], .form-login input[type='password'] {
	height: 25px;
	border: 1px solid #fff;
	padding: 10px;
	font-size: large;
	display: block;
	text-align: center;
	margin-top: 1em;
	outline: none;
	outline-color: transparent;
	font-family: 'Quicksand';
	font-weight: bold;
	min-width: 350px;
	border-radius: 4px;
}

.form-login input[type='text'], .form-login input[type='password']:focus {
	outline: none;
	outline-color: transparent;
}

.form-login .btn-login {
	margin-top: 1em;
	background-color: #4b464f;
	border: none;
	padding: 10px;
	cursor: pointer;
	color: #ffffff;
	border-radius: 4px;
	font-weight: bold;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 600px) {
	.form-login input[type='text'], .form-login input[type='password'] {
		min-width: 245px;
	}
}