@import url('font.css');
@import url('login.css');
@import url('modal.css');
@import url('file.css');
@import url('custom.css');
@import url('table.css');
@import url('office.css');
@import url('jquery.fileupload.min.css');
@import url('lightpick.css');

.section, .footer {
	display: none;
}

body {
	font-family: 'Quicksand-Medium', sans-serif;
	background: #38323e;
	margin: 0px;
	padding: 0px;
}

button {
   font-family: 'Quicksand';
   font-size: 15px;
   outline: none;
   outline-color: transparent;
}

button:focus {
	outline: none;
	outline-color: transparent;	
}

button:active {
	transform: translateY(4px);
	cursor: pointer;
}

select, select option {
	font-weight: bold !important;
}

textarea {
	font-family: 'Quicksand';
	outline: none;
	outline-color: transparent;
	border-radius: 4px;
	padding: 5px;
}

textarea:focus {
	outline: none;
   outline-color: transparent;	
}

table.checkout-layout {
	width: 100%;
	color: #fff;
}

table.checkout-layout tr td:not(:last-child) {
	border-right: 2px dotted #4f5850;
	height: 100%;
	min-height: 100vh;
	vertical-align: top;
}

table.checkout-layout .panel-title {
	margin: 0px;
	padding: 5px 5px 5px 5px;
	border-bottom: 1px dotted #84a9863d;
	color: darkgrey;
}

.panel-categories ol {
	list-style: none;
	padding-left: 0px !important;
}

.panel-categories ol li {
	border-right: 5px solid #637177;
    margin-right: 15px;
    font-size: 15px;
    background-color: #9e9e9e26;
    color: #e8e8e8f2;
    padding-right: 5px;
    padding-left: 0px;
    cursor: pointer;
    margin-bottom: 1em;
}

.panel-categories ol li.active {
	border-right: 5px solid #85daff;
	background-color: #0000006e;
}

.panel-categories table.category-line tr td {
	padding: 10px;
	border: none;
	height: inherit;
}

.panel-categories table.category-line tr td:nth-child(1) {
	width: 20% !important;
	margin-right: 10px;
	text-align: center;
	margin-left: 10px;
	background-color: #84a9863d;
	padding: 4px;
}

.panel-categories .avatar img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-block;
}

.list-items .item {
	display: inline-block;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	max-width: min-content;
	vertical-align: top;
}

.list-items .item img {
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 1px solid #9e9e9e59;
}

.list-items .item.searched img {
	border: 2px solid #2196f3;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

.list-items .item.active img {
	border: 1px solid #85daff;	
}

.item .info span {
	display: block;
	font-size: small;
}

.item .info span.price {
	color: #9a9a9a;
	font-weight: bold;
}

ul.list-cart-items {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

ul.list-cart-items li table.empty {
	margin-top: 50% !important;
	text-align: center;
	color: #ffffff;
	opacity: 0.4;
}

ul.list-cart-items li table.empty img {
	border: none !important;
}

ul.list-cart-items li table.empty tr td {
	border: none !important;
}

.list-cart-items li table tr td {
	padding: 2px !important;
	border: none !important;
	height: inherit !important;
	vertical-align: top;
}

.list-cart-items li table tr td:nth-child(1) {
	width: 5% !important;
}

.list-cart-items li table tr td {
	border-bottom: 1px dotted #d9cfcf42 !important;
}

.list-cart-items img:not(.icon-action) {
	height: 50px;
	width: 50px;
	border: 1px solid #9e9e9e59;
}

.list-cart-items img.icon-action {
	height: 12px;
	width: 12px;
}

.list-cart-items .price-info {
	font-size: small;
	color: #9a9a9a;
	font-weight: bold;
}

.list-cart-items .action-block {
	margin-top: 5px;
	margin-bottom: 5px;
}

.list-cart-items .action-block button.btn-cart {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 15px;
	margin-right: 1em;
}

.btn-shopping-cart {
	position: relative;
}

.list-cart-items .action-block button.add-qty {
	background-color: #66f1ff;
	color: #171a2f;
}
.list-cart-items .action-block button.remove-qty {
	background-color: #e91e63;
	color: #ffffff;
}
.list-cart-items .action-block button.edit-qty {
	background-color: #3f51b5;
	color: #ffffff;
}
.list-cart-items .action-block button.remove-item {
	background-color: #d5d2d221;
	color: #ffffff;
	float: right;
}

.list-kitchen-log .kitchen-log-actions .btn-kitchen-log-action:not(.remove-item) {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
	font-size: 15px;
	margin-right: 1em;	
}

.list-kitchen-log .btn-kitchen-log-action.remove-item {
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
}

.list-kitchen-log .kitchen-log-actions .btn-kitchen-log-action.remove {
	background-color: #e91e63;
	color: #ffffff;
}
.list-kitchen-log .btn-kitchen-log-action.remove-item {
	background-color: #ff5252;
	color: #ffffff;	
}
.icon-serve {
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
	background-color: #ff5252;
	color: #ffffff;	
}

td.list-kitchen-log-block {
	border: 1px solid #6a6a6aad;
}

.tax-info table tr td {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	height: inherit !important;
	border-right: none !important;
	border-bottom: 1px dotted #b1b1b161;
	padding-bottom: 5px;
	color: #b1b1b1;
}
.tax-info table tr {
	justify-content: left;
}
.tax-info table tr.total td {
	font-size: 15px;
	color: #ffffff;
}
.tax-info table tr.total.round td {
	font-size: 12px;
	color: #ffffff;
}
.tax-info table tr:last-child td {
	border-bottom: none;
}
.tax-info table tr td:last-child {
	width: 30% !important;
}

.no-link-style {
	text-decoration: none;
	color: inherit;
}

.clear { 
	clear: both; 
	height: 60px; 
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 60px;
   background-color: #040404;
   color: #ffffff;
   padding: 5px;
}

.footer .actions {
	margin-right: 20px;
}

.footer .footer-btn {
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
}
.footer-btn img {
	height: 40px;
	width: 40px;
}

.restaurant-logo {
	height: 50px;
	width: 50px;
}

.info-powered-by {
	font-size: small;
	color: #c8ebff;
	font-weight: bold;
}

.table-no-area {
	background-color: #6b1ab5;
	padding: 5px;
	border-radius: 5px;
	vertical-align: top;
	display: inline-block;
}

table.checkout-layout tr td:nth-child(1) {
	width: 35%;
}
table.checkout-layout tr td:nth-child(2) {
	width: auto;
}
table.checkout-layout tr td:nth-child(3) {
	display: none;
}

td.panel-cart {
	background-color: #171a2f;
	min-height: 100vh;
}
td.panel-cart.show {
	display: block !important;
}

.panel-cart .cart-summary {
	background-color: #568b8630;
	width: auto;
	font-weight: bold;
	padding: 5px;
}

.panel-cart .btn-empty-cart, .panel-cart .btn-back-to-products-screen {
	margin-top: -3px;
}

.panel-cart .btn-back-to-products-screen {
	display: none;
}

.settings-layout-table {
	border: 1px dotted #dedede23;
}

.settings-layout-table tr td:nth-child(1) {
    border-right: 1px dotted #dedede23;
}

table.setting-block-left tr td, table.setting-block-right tr td {
	display: block;
	padding: 10px;
 	margin: 10px;
 	width: inherit;
 	border-right: 1px dotted #dedede23;
}

.sync-icon-holder {
	opacity: 0.9;
	background: deepskyblue;
	border-radius: 10px;
}

.cart-checkout-options {
	text-align: left;
}

.btn-checkout, .btn-print-invoice, .btn-print-fc-eCard {
	background-color: #2196f3;
	color: #fff;
	border: 1px dotted #ffffff23;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;
}

.btn-save-cart {
	background-color: #3f51b5;
	color: #fff;
	border: 1px dotted #ffffff23;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;	
}

.btn-process-payment {
	background-color: #24354b;
	border-radius: 3px;
	border: 1px dotted #6a6565;
	color: #ffffff;
	padding: 10px;
	cursor: pointer;
}

.btn-cart-adjustment {
	background-color: #009688;
	color: #fff;
	border: 1px dotted #ffffff23;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;	
}

.btn-save-bone, .btn-refresh-kitchen-log {
	background-color: #2196f3 !important;
	color: #fff !important;
	border: 1px dotted #ffffff23 !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	margin: 5px !important;
	padding: 5px !important;
}
.btn-refresh-kitchen-log {
	font-size: 13px !important;
	padding: 2px !important;	
}

ul.list-shortcuts {
	list-style: square;
	justify-content:space-around;
	margin: 0px;
}

ul.list-shortcuts li {
	/*display: inline-block;*/
}

.overlay-loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #000000ba;
	display: none;
	z-index: 999;
}

.overlay-content {
  position: fixed;
  border-radius: 5px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

tr.customer-info-holder {
	display: none;
}

.customer-info, .set-customer-info {
	background: #30303059;
	padding: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 1em;
}

.customer-payment-field {
	height: 10px;
	font-size: 15px;
	padding: 10px;
	border: 1px solid #4a90e2;
	margin-left: 2em;
	font-family: 'Quicksand', sans-serif;
	width: 75%;
	font-weight: bold;
	border-radius: 3px;
}

.set-cust-info-field {
	height: 10px;
	font-size: 12px;
	padding: 10px;
	border: 1px solid #4a90e2;
	margin-left: 2em;
	font-family: 'Quicksand', sans-serif;
	width: 75%;
	font-weight: bold;
	border-radius: 3px;	
}

.customer-payment-field:focus, .set-cust-info-field:focus {
	outline: none;
	outline-color: transparent;
}

.search-result-holder td {
	border-radius: 4px;
	cursor: pointer;
}

table.list-search-result td.search-picture {
	text-align: left;
	width: 2%;
}
table.list-search-result td img {
	height: 40px;
	width: 40px;
	border-radius: 5px;
}
table.list-search-result tr td.search-name {
	text-align: left;
	font-weight: bold;
	padding-left: 4px;
	font-family: 'Quicksand';
}
table.list-search-result tr td.search-name:hover {
	/*background-color: #79554829;*/
}
tr.search-result-line.active td.search-name {
	background-color: #79554829;	
	font-family: 'Quicksand-Medium';
}

tr.search-result-holder {
	display: none;
}

.btn-purple {
	background-color: #673ab7 !important;
	color: #fff !important;
	padding: 5px !important;
	border-radius: 4px !important;
}
.btn-green {
	background-color: #4caf50 !important;
	color: #fff !important;
	padding: 5px !important;
	border-radius: 4px !important;
}
.btn-purple-sm {
	background-color: #673ab7 !important;
	color: #fff !important;
	padding: 2px !important;
	border-radius: 4px !important;
	font-size: 14px;
}
.btn-change-fc-ecard-status {
	padding: 5px !important;
	border-radius: 4px !important;
	font-size: 12px;
}
.btn-activate-fc-ecard {
	background-color: #1da82e !important;
	color: #fff !important;
}
.btn-deactivate-fc-ecard {
	background-color: #e91e63 !important;
	color: #fff !important;
}
.fc-eCard-no {
	font-size: 20px;
	font-weight: bold;
}
td.fc-eCard-holder-display-name {
	font-weight: bold;
    text-align: left;
    letter-spacing: 5px;
    font-size: 15px;
}
#block-fc-eCard {
	padding: 5px;
	border: 1px solid #dedede;
}
span.info-scan-fccard {
	display: none;
}

tr.specification_options {
	display: none;
}

.kitchen-log-title {
	background-color: #484350;
	border-radius: 4px;
	padding: 5px;
	border-bottom: 2px solid #645f68;
}

td.block-kitchen-log-item {
	cursor: pointer;
}

button.btn-reset-kitchen-filters {
	background-color: #2196f3;
	color: #fff;
	padding: 3px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
}

.cart-adjustment-option {
	display: none;
}

.cart-adjustment-option input[type='text'] {
	height: 24px;
	outline: none;
	outline-color: transparent;
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	font-weight: bold;
	border-radius: 4px;
	border-color: transparent;
	width: 100%;
}
.cart-adjustment-option input:focus {
	outline: none;
	outline-color: transparent;
}

.cart-adjustment-option button.btn-save {
	background-color: #2196f3;
	color: #fff;
	border: 1px dotted #ffffff23;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;
	padding: 3px;
}

button.btn-remove-cust-info-for-bill {
	background-color: #e91e63;
	color: #fff;
}

button.btn-add-cust-info-for-bill {
	background-color: #2196f3;
	color: #fff;
	margin-left: 5px;
}

button.btn-adjust-cust-info-for-bill {
	border: 1px dotted #ffffff23;
	border-radius: 3px;
	cursor: pointer;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
    padding-right: 10px;
}

.badge-regular-taste-item {
	background-color: #795548;
	color: #fff;
	padding: 3px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}
.badge-spicy-taste-item {
	background-color: #f44336;
	color: #fff;
	padding: 3px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}
.badge-medium-taste-item {
	background-color: #af7219;
	color: #fff;
	padding: 3px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
}
.badge-item-served {
	background-color: #6a6a6aad;
    color: #c5c5c5;
    padding: 3px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 5px;
}
td.badge-all-items-served {
	opacity: 0.2 !important;
}

table.list-table-discounts .btn-remove-table-discount, table.list-table-taxes .btn-remove-table-tax {
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 4px;
	font-size: 15px;
	background-color: #e91e63;
	color: #ffffff;
}

.loggedin-as-info {
	text-transform: uppercase;
	font-weight: bold;
	color: #ffe0a7;
}

#modal-add-bone td.header {
	background-color: #4e4e4e;
	font-size: 12px;
	font-weight: normal;
	cursor: pointer;
}

#modal-add-bone td.header.selected {
	background-color: mediumseagreen;
	padding: 5px;
	border-radius: 3px;
	font-weight: bold;
	font-size: 14px;
}

#modal-add-bone .field-item input[type="text"], #modal-add-bone .field-category input[type="text"] {
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

#modal-add-bone .field-item textarea, #modal-add-bone .field-category textarea {
	resize: none;
}

div.picture {
	position: relative;
}

div.picture span.itemcode {
	position: absolute;
    top: 0px;
    right: 0px;
    font-weight: bold;
    padding: 5px;
    background-color: #00968885;
    font-size: 12px;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 600px) {
	.panel-categories table.category-line tr td:nth-child(1) {
		display: none;
	}
	.info-lines, .restaurant-logo-holder {
		display: none !important;
	}
	.footer .actions {
		/*text-align: center;*/
	}
	.footer {
		height: 40px;
	}
	.footer-btn img {
		height: 25px;
		width: 25px;
	}
	.footer .footer-btn {
	    margin-left: 8px !important;
	    padding: 0px !important;
	}
	table.settings-layout-table tr td {
		display: block;
		width: 100%;
	}
	table.settings-layout-table tr td:nth-child(1) {
		border-right: none;
	}
	table.setting-block-left tr td, table.setting-block-right tr td {
		display: block;
		padding: 10px;
    	margin: 10px;
    	width: inherit;
    	border-right: 1px dotted #dedede23;
	}
	table.setting-block-left tr td, table.setting-block-right tr td:nth-child(1) {
		border-right: 1px dotted #dedede23;
	}
	td.list-shortcuts-holder {
		display: none !important;
	}
	td.module-actions-holder {
		width: auto !important;
	}
	td.valign-baseline-mobile {
		vertical-align: baseline;
	}
	img.cash_option_icon {
		display: none;
	}
	.cart-items-badge {
		padding: 1px 5px;
	}
	.table-no-area .area-category {
		display: none;
	}
	table.table-types, table.office-actions {
		position: initial;
		overflow: hidden;
	}
	.horizontal-scrolling {
		white-space: nowrap;
		overflow-y: auto;
	}
	.horizontal-scrolling::-webkit-scrollbar {
	   display: none;
	   -ms-overflow-style: none;
	   scrollbar-width: none;
	}
	.list-kitchen-log-block {
		display: block;
	}
	.list-cart-items .action-block button.btn-cart {
		/*padding: 0px;
		padding-left: 5px;
		padding-right: 5px;
		border-radius: 5px;
		font-size: 15px;
		margin-right: 0.5em;*/
	}
	.panel-cart .btn-back-to-products-screen {
		display: table-cell;
	}
	.cart-adjustment-option input[type='text'] {
		width: 90%;
	}
	td span.sync-title {
		font-size: small;
	}
	.list-items .item {
		display: flex;
		text-align: left;
		max-width: initial;
	}
	.list-items .item img {
		width: 35px;
		height: 35px;
		display: none;
	}
	.item .info span {
		display: inherit;
		margin-left: 5px;
		font-size: 14px;
	}
	.panel-categories ol li {
		margin-right: 5px;
		font-size: 13px;
		margin-bottom: 0.5em;
		word-break: break-all;
	}
	.panel-categories {
		height: 100vh !important;
	}
	tr.block-kitchen-log-filter div.summary {
		display: block !important;
		margin:  1em !important;
	}
	.btn-refresh-kitchen-log {
		font-size: 12px;
		padding: 2px !important;
	}
	div.picture span.itemcode {
		font-size: 10px;
		position: inherit;
	}
	.mr-10 {
		margin-right: 0px !important;
	}
}

/* ipad portrait */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .panel-cart .btn-back-to-products-screen {
		display: table-cell !important;
	}
}
/* ipad landscape */
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .panel-cart .btn-back-to-products-screen {
		display: table-cell !important;
	}
}

/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.panel-cart .btn-back-to-products-screen {
		display: table-cell !important;
	}
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.panel-cart .btn-back-to-products-screen {
		display: table-cell !important;
	}
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
  	.panel-cart .btn-back-to-products-screen {
		display: table-cell !important;
	}
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {  
	table.checkout-layout tr td:nth-child(1) {
		width: 20% !important;
	}
	table.checkout-layout tr td:nth-child(2) {
		width: 47% !important;
	}
	table.checkout-layout tr td:nth-child(3) {
		display: block !important;
	}
	.panel-categories .list-categories {
		width: 20% !important;
	}
	.panel-items {
		width: 57% !important;
	}
}

/* hi-res laptops and desktops */
@media (min-width:1281px) {  
	table.checkout-layout tr td:nth-child(1) {
		width: 20% !important;
	}
	table.checkout-layout tr td:nth-child(2) {
		width: 57% !important;
	}
	table.checkout-layout tr td:nth-child(3) {
		display: block !important;
	}
}

/* Print options */
@media print {
   /*html, body {
    width: 80mm;
    height:100%;
    margin: 0 auto;
   }*/
}