@import url('font.css');
.menu-book {}

p.heading {
    text-align: center;
    font-size: 20px;
    color: #38323e;
}

p.subheading {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 12px;
    color: #000000;
}

.pages {
    width: 100%;
    height: 100%;
    text-align: center;
}

.page {
    /*margin-top: 20px;*/
    background-image: linear-gradient(to right bottom, #f8f8f8, #f8f6f9, #faf4f8, #fdf2f5, #fff0f0);
    width: 50%;
    height: 80%;
    max-width: 43%;
    max-height: 80%;
    overflow-y: auto;
    position: absolute;
    top: 12%;
    display: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.page:nth-child(1) {
    display: block;
}

.page.cover-start {
    border-left: 5px dotted #38323e;
    border-right: 0px dotted transparent;
}

.page.cover-end {
    border-right: 5px dotted #38323e;
    border-left: 0px dotted transparent;
}

.page:not(.cover):nth-child(odd) {
    border-right: 5px dotted #38323e;
}

.page:not(.cover):nth-child(even) {
    border-left: 5px dotted #38323e;
}

.flip-book {
    display: none;
    background-size: cover;
}

.navigators {
    width: 90%;
    text-align: center;
    float: none;
    margin: 0 auto;
    position: absolute;
    bottom: 60px;
    z-index: 50;
    display: none;
}

.navigators button.btn-prev-page {
    float: left;
}

.navigators button.btn-next-page {
    float: right;
}

.navigators button {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    border: 1px solid #dedede;
    padding: 4px;
    border-radius: 4px;
}

.ui-loader,
.ui-loader {
    display: none;
}

.w-100 {
    width: 100%;
}

table.menu-items {
    margin-top: 10px;
}

.category-row {
    background-image: linear-gradient(to right bottom, #271123, #452a2f, #5c4941, #6f695f, #878983);
    color: #ffffff;
    border-radius: 2px;
    font-size: 14px;
}

.category-title {
    word-break: break-all;
    margin-right: 1em;
    padding: 3px;
}

.item-row {}

.item-title,
.item-price {
    margin-left: 1em;
    font-size: 12px;
    color: #3f3741;
}

.res-currency {
    font-size: 13px;
    font-weight: bolder;
    color: #3f3741;
    font-family: 'Quicksand';
}

html {
    height: 100%;
}

html,
body {
    font-family: 'Quicksand';
    background-image: linear-gradient(to bottom, #38323e, #4f4349, #615657, #716a68, #817f7d);
    overflow: hidden;
}

body {
    min-height: 100%;
    padding: 2em 0;
}

.menu-book .footer {
    position: fixed;
    right: 10px;
    text-align: left;
    bottom: 10px;
    color: #c4def2;
    background-color: #565656;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    border-radius: 3px;
    bottom: 0px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

img.logo {
    width: 100px;
    height: 100px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10em;
}

.d-block {
    display: block;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

.text-generic {
    color: #607d8b;
}

.text-sm {
    font-size: small;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.p-p5 {
    padding: 5px;
}

.bg-theme {
    background-color: #39323e;
    color: #fff;
}

a {
    color: #74cdf5;
    text-decoration: none;
}

.suggest-baloon-holder {
    font-family: 'Quicksand';
    width: 100%;
    display: block;
    position: fixed;
    background-color: #4B4453;
    top: 0px;
    width: 25%;
    margin: 1em;
    z-index: 50;
    border-color: transparent;
    border-left: 5px solid #d1e0ed;
}

.suggest-baloon-holder button.btn-close {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    float: right;
    color: #fff;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    cursor: pointer;
}

.suggest-baloon-holder .popup {
    border-radius: 7px;
    color: #fff;
    padding: 6px;
    width: fit-content;
}

#menu-loader {
    width: fit-content;
    margin: auto;
    position: absolute;
    top: 50%; left: 0; bottom: 0; right: 0;
    z-index: 52;
}

#menu-loader .loader-msg {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 4px;
}

@media only screen and (max-width: 600px) {
    .pages {
        margin: 0em;
    }
    .page {
        width: 85%;
        height: 80%;
        max-width: 85%;
        max-height: 80%;
        top: 12%;
        overflow-y: auto;
        margin-left: 1em;
    }
    .category-title {
        font-size: 14px;
    }
    .suggest-baloon-holder {
        width: 94%;
        margin: 0px;
        z-index: 50;
    }
    .navigators {
        display: block;
    }
}

div.page::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9e9e9e70;
}

div.page::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #9e9e9e70;
}

div.page::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #4f4349;
}

@media (min-width: 1200px) {
    .menucontainer {
        max-width: 1140px;
    }
}

@media (max-width: 992px) {
    .menucontainer {
        max-width: 960px;
    }
}

@media (max-width: 768px) {
    .menucontainer {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .menucontainer {
        max-width: 540px;
    }
}

.menucontainer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}