#modal-container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display:none;
    visibility: hidden;
    background: rgba(90, 90, 90, 0.6);
}

#modal-container.show {
    visibility: visible;
    display: block;
}

#modal-container .modal {
    background: #46413f;
    margin: 0 auto;
    width: fit-content; 
    position: fixed !important;
    z-index: 41;
    top: 25% !important;
    left: 50%;
    max-height: 500px;
    transform: translate(-50%);
    overflow-y: auto;
    overflow-x: auto;
    padding: 10px; 
    text-align: center;
    display: none;
    border-radius: 5px;
    color: #fff;
    border: 2px solid #686868;
    min-width: 300px;
}

#modal-ask-quantity .quantity-for {
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 28px;
}

#modal-checkout .header {
    background-color: #143152ab;
    padding: 5px;
    border-radius: 3px;
    border: 2px solid #ffffff3d;
}

#modal-invoice.modal {
    background: #fdfdfd;
    font-weight: bold;
    border: 2px solid #cde9ffe3;
    color: black;
}

#modal-container .btn-close-modal {
    /*margin: 0px!important;*/
    /*position: absolute;
    right: 0px;
    top: -25px;*/
    /*right: 5px;
    position: inherit;
    float: right;
    background-color: #a97a67;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    z-index: 41;
    max-height: 500px;*/
    position: fixed !important;
    top: 20.5%;
    left: 50%;
    opacity: 1;
    z-index: 10;
    background-color: #46413f;
    color: #fff;
    border: 1px solid #fff;
    font-weight: bold;
    border-radius: 3px;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

#modal-container .modal::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #48434d;
}
#modal-container .modal::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #48434d;
}
#modal-container .modal::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9e9e9e70;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 600px) {
    #modal-container .modal {
        width: 90%;
        min-width: inherit;
    }
    #modal-container .btn-close-modal {
        right: 2%;
        /*left: inherit;*/
    }
}