.btn-change-pm-status {
	border: 1px dotted #ffffff23;
	border-radius: 3px;
	cursor: pointer;
	margin: 5px;
	padding: 5px;
}

.btn-deactivate-payment-method {
	background-color: #e91e63;
	color: #fff;
}
.btn-activate-payment-method {
	background-color: #12a518;
	color: #fff;
}

.table-office tr:nth-child(odd) {
	background-color: #4b464f;
}

.modal-manage-office td {
	/*text-align: left;*/
}

.modal-manage-office .field input[type="text"] {
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
	width: 95%;
}

.field input[type="text"] {
	font-size: 14px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bold;
}

.modal-manage-office .field textarea, .field textarea {
	resize: none;
	width: 95%;
}

.modal-manage-office .field select {
	width: auto;
	padding: 9px;
}

.modal-manage-office .field select.item-form-field {
	width: auto;
}

.btn-office-save, .btn-office-search, .btn-save-office-order, .btn-office-search-for-report, .btn-office-month-report, .btn-office-year-report {
	background-color: #2196f3 !important;
	color: #fff !important;
	border: 1px dotted #ffffff23 !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	margin: 5px !important;
	padding: 5px !important;
}

.btn-filter, .btn-print-orders, .btn-refresh-today-orders {
	background-color: #2196f3;
	border: 1px dotted #ffffff23 !important;
	border-radius: 3px !important;
	margin: 5px !important;
	padding: 5px !important;
	/*font-size: 14px;*/
}
.btn-print-orders {
	background-color: #95134f;
}
.btn-refresh-today-orders {
	background-color: #ff5722;
}

table.table-office tr.summary td {
	background-color: #673ab714;
}

table.pagination {
	margin: 0 auto;
	float: none;
	margin-top: 1em;
}

table.pagination tr td {
	background-color: #294845;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}
table.pagination tr td.active {
	background-color: #009688;
}

table.pagination tr td.navaction {
	background-color: #756763ad;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	border: 1px dotted #dedede23;
}

table.order-header-info td {
	background-color: #009688;
	color: #fff;
}

table.order-items-list td {
	padding: 2px !important;
}
table.order-items-list td.subtotal {
	background-color: #415666b3;
	color: #fff;
}
table.order-items-list td.subtotal-incl-tax {
	background-color: #415666b3;
	color: #fff;
}
table.order-items-list td.grandtotal {
	background-color: #274156;
	color: #fff;
}
.bg-green-flag {
	/*background-color: #1da82e !important;*/
	background-color: #009688 !important;
}

tr.order-deleted td:nth-child(1) {
	background-color: #da080840;
}
tr.order-deleted {
	display: none;
}

span.badge-fc-ecard {
	background-color: #7a5c28;
	color: #ffffff;
	padding: 3px;
	border-radius: 4px;
	font-size: 12px;
	opacity: 1;
	margin-bottom: 5px;
	width: min-content;
	float: none;
	margin: 0 auto;
}

span.badge {
	padding: 3px;
	border-radius: 4px;
	font-size: 12px;
	opacity: 1;
	margin-bottom: 5px;
	width: min-content;
	float: none;
	margin: 0 auto;
	margin-right: 2px;
}

span.badge-success {
	background-color: green;
	color: #ffffff;
}
span.badge-danger {
	background-color: red;
	color: #ffffff;
}
.badge-half-success {
	background-color: #ff000021;
	color: #ffffff;
}

.order-no-view-link {
	cursor: pointer;
}

.summary-field {
	background-color: transparent;
	color: #fff;
	border-color: #fff !important;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 600px) {
	.modal-manage-office .field select.item-form-field {
		width: 100%;
	}
}