body {
	background-color: #fff !important;
	font-family: 'Arial';
}

.modal {
	border: 0px solid transparent !important;
}

.invoice-logo {
  height: 50px;
  width: 50px;
  display: none;
}

button.btn-close-modal {
	display: none;
}

table#invoice .btn-print {
	display: none;
}

#block-fc-eCard {
	width: fit-content;
	border: 1px solid #dedede;
}

td.block-fc-eCard-container {
	width: 10%;
}

@page {
  /*size: auto;*/
  margin: 1em;
}

@media print { 
    body {
        /*width: 58mm;*/
    } 
}