body {
	background-color: #fff !important;
	font-family: 'Arial';
}

.modal {
	border: 0px solid transparent !important;
}

.text-grey {
	color: #000 !important;
}

.text-grey-dark {
	color: #000 !important;	
}

button.btn-close-modal {
	display: none !important;
}

#block-fc-eCard {
	width: fit-content !important;
	border: 1px solid #dedede !important;
}

td.fc-eCard-holder-display-name {
	color: #000 !important;
}

td.block-fc-eCard-container {
	width: 10%;
}

@page {
  size: auto;
  margin: 1em;
}