body {
	background-color: #fff !important;
	font-family: 'Arial';
}

.modal {
	border: 0px solid transparent !important;
}

.text-grey {
	color: #000 !important;
}

.text-grey-dark {
	color: #000 !important;	
}

.text-center {
	text-align: center;
}

button.btn-close-modal {
	display: none !important;
}

@page {
  size: auto;
  margin: 1em;
}