.table-list-holder table {
	text-align: center;
	margin: 0 auto;
}

.table-list-holder table.table-list {
	margin-top: 2.5em;
}

.office-layout div.module-office {
	margin-top: 4em;
	margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

.table-block {
	cursor: pointer;
	border: 1px dotted #dedede23;
	margin: 1em;
	padding: 1em;
	position: relative;
	background-color: #8d8d8d38;
	min-width: 60px;
    max-width: 60px;
}

.table-block.booked {
	background-color: #1a324e;
    border: 1px dotted #dedede;
}

.table-block img {
	opacity: 0.5;
	width: 50px;
	height: 50px;
}
.table-block.booked img {
	opacity: 0.8;
	padding: 5px;
}

table tr th {
	background-color: #2b756e;
	color: #fff;
}

.icon-table-booked {
	height: 20px !important;
	width: 20px !important;
	position: absolute;
	top: 0px;
	right: 0px;
}
.ribbon-table-no {
	position: absolute;
	top: 0px;
	left: 0px;
	font-weight: bold;
	padding: 5px;
	background-color: #38323e;
}

table.table-types, table.office-actions {
	position: fixed;
	top: 0px;
	margin: 0px;
	margin-bottom: 1em;
	background-color: #4b464f;
	z-index: 99998;
	padding: 5px;
}

.btn-table-type, .btn-office-action {
	background-color: #38323e;
	color: #fff;
	padding: 5px;
	border-radius: 4px;
	margin-right: 5px;
}

.btn-table-type.active, .btn-office-action.active {
	background-color: #03a9f4;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (max-width: 600px) {
	.table-block {
		/*display: block;*/
	}
	.table-list-holder table.table-list {
		margin-top: 0em !important;
	}
	.table-block img {
		display: none;
	}
	.panel-categories .list-categories {
		width: 35% !important;	
	}
	.panel-items div.list-items {
		top: 40px;
		width: 100% !important;
		max-width: 65%;
	}
}

/* Start of scrollbar css for panels */
.panel-categories .list-categories {
	position: fixed;
    width: 35%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 18px;
    bottom: 47px;
}
.panel-items div.list-items {
	position: fixed;
	width: inherit;
    overflow-y: auto;
    top: 30px;
    bottom: 47px;
}
ol.list-categories::-webkit-scrollbar-track, div.list-items::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #48434d;
}
ol.list-categories::-webkit-scrollbar, div.list-items::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
    background-color: #48434d;
}
ol.list-categories::-webkit-scrollbar-thumb, div.list-items::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #9e9e9e70;
}
/* End of scrollbar css for panels */
